.results-container{
    overflow-y: auto;
    height: 350px;
    margin-top: 30px;
}
table.results-table{
    min-width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgb(205, 205, 205);
}
table.results-table tr th{
    border: 2px solid black;
}
table.results-table tr td{
    border: 1px solid black;
}
table.results-table tbody tr:nth-child(odd){
    background-color: rgb(230, 230, 230);
}