.timer-container{
    width: 100%;
    font-size: 7rem;
}
input#time{
    position: fixed;
    top: -999px;
    left: -999px;
}
label#time-label{
    color: rgb(176, 19, 19);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input#time:focus + label{
    color: black;
}