.main-content{
    display: flex;
    margin: 20px 0;
}
.timer{
    flex: 4;
}

.tools{
    flex: 1;
    padding: 10px 5px;
    border-left: 1px solid black;
}

/* scramble */
.scramble{
    font-size: 1.3em;
    word-spacing: 5px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
}